* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

::selection {
  background-color: #B9FF66;
}

@font-face {
  font-family: "space";
  src: url('Assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}
:root {
  --green: #b9ff66;
  --gray: #f3f3f3;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-flow: column;
}
.center {
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-flow: column;
  gap: 70px;
  margin: 10px auto 0px auto;
  font-family: "space";
}
/* ------------ */

.navBar {
  width: 100%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  gap: 60px;
  position: relative;
}

#navBarLogo {
  max-height: 50px;
}
.links {
  height: 68px;
  align-items: center;
}

.links ul {
  list-style-type: none;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: black;
}

.links #withBorder{
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 14px;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: inline-block;
}

.links #withBorder:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}
.menu 
{
    display: none;
    background:none;
    border: none;
    cursor: pointer;
}

.landingPage {
  display: flex;
  flex-flow: column;
  gap: 70px;
}

header {
  display: flex;
  width: 95%;
  height: 515px;
  justify-content: space-between;
  padding: 0px 100px;
  /* border: 1px solid red; */
  background-image: url('Assets/backgroundLogo/speakerLogo.jpg');
  background-repeat: no-repeat;
  background-position:top -10px right 20px;
  background-size: 550px;
}

.textSection {
  margin-top: 0px;
  width: 100%;
  max-width: 500px;
  height: auto;
  justify-content: space-between;
  gap: 35px;
}

.textSection .head {
  width: 100%;
  height: auto;
  font-weight: 500;
  font-size: 20px;
}
.textSection .description {
  width: 498px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
}

.textSection button {
  width: 264px;
  height: 68px;
  border-radius: 14px;
  background-color: #191a23;
  color: white;
  font-size: 20px;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  cursor: pointer;
}

.textSection button:hover {
  transform: scale(1.05);
}

.headerLogo img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.mobile-hero-img {
  display: none;
}

/* ------------- */

.logoTypes {
  width: 100%;
  justify-content: space-between;
  padding: 0px 100px;
  margin-bottom: 90px;
  margin-top: -40px;
}

.logoTypes img {
  width: 124px;
  height: auto;
  filter: grayscale(100%);
}

/* ------------------- */

.subHeading {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.subHeading .head {
  text-align: center;
  background: var(--green);
  padding: 7px;
  border-radius: 10px;
  width: 178px;
  height: 51px;
  justify-content: center;
  align-items: center;
}
.subHeading .head h2 {
  font-weight: 500px;
  font-size: 30px;
}

.subHeading p {
  font-size: 18px;
  line-height: 28px;
  max-width: 580px;
}

/* ------------- */

.serviceBlock {
  padding: 0px 100px;
  flex-wrap: wrap;
  gap: 40px;
}

.serviceBlock .cards {
  flex: 1 1 300px;
  min-width: 250px;
  height: auto;
  min-height: 270px;
  border-radius: 45px;
  border: 1px solid black;
  border-bottom: 5px solid black;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.cardOne {
  background-color: var(--gray);
}
.cardTwo {
  background-color: var(--green);
}

.card-head-link {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 224px;
  height: 210px;
}

.card-head-link .head {
  width: 221px;
  height: 76px;
  font-size: 26px;
  font-weight: 500;
}

.cardOne .head h4 {
  background-color: var(--green);
  padding: 0px 7px;
  border-radius: 7px;
}
.cardTwo .head h4 {
  background-color: white;
}

.lessWidth {
  width: 197px;
}

.card-head-link .link {
  gap: 15px;
  align-items: center;
}
.link .arrow {
  background: black;
  width: 41px;
  height: 41px;
  border-radius: 25px;
}

.link .arrow img {
  width: 32px;
  padding-top: 12px;
  padding-left: 12px;
}

.more p {
  font-size: 20px;
}

.icon #cardOne-img {
  width: 160px;
  height: auto;
}

/* ------------- */

.Second-subHeading {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  gap: 20px;
  flex-wrap: wrap;
}


.Second-subHeading .head {
  background: var(--green);
  height: 51px;
  font-size: 22px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.Second-subHeading .text p {
 font-size: 18px;
}

/* -------------- */

.accordion {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 41px 60px;
}

.accordion-item {
  border: 1px solid black;
  border-bottom: 5px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: var(--green);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  cursor: pointer;
  background-color:var(--gray);
  border-bottom: 1px solid black;
  font-size: 20px;
}

.accordion-header h3 {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 25px;
}

.accordion-header h3 span {
  font-size: 50px;
}

.accordion-header img {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 25px;
}

.accordion-content p {
  padding: 20px 0;
}

.accordion-item.active .accordion-content {
  max-height: 300px;
}

/* ---------------- */

.formSection {
  width: auto;
  max-width: none;
  border-radius: 45px;
  padding-top: 60px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 70px;
  background: #f3f3f3;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-image: url("Assets/contactUs/contactUs-Illustration.png");
  background-repeat: no-repeat;
  background-position: right -316px center;
  background-size: 630px 624px;
  margin: 5px 100px;
}

.form {
  width: 450px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.radioButtons {
  display: flex;
  gap: 30px;
  font-size: 18px;
  margin-bottom: 25px;
  border: none;
}

input[type="radio"] {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

input[type="radio"]:checked {
  border: 1px solid black;
}

input[type="radio"]::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--green);
  border-radius: 50%;
  display: none;
}

input[type="radio"]:checked::after {
  display: block;
}

.feild input, textarea {
  width: 100%;
  padding: 18px 30px;
  border-radius: 14px;
  border: 1px solid black;
  font-size: 18px;
  resize: none;
}

.feild {
  gap: 10px;
}

.textArea {
  gap: 10px;
}

.sayhi,
.getaquote {
  align-items: center;
  gap: 5px;
}

.feilds 
{
    
    display: flex;
    flex-direction: column;
    gap:20px;
}

.feildButton button {
    width: 100%;
    height: 68px;
    border-radius: 14px;
    background-color: #191a23;
    color:white; 
    font-size: 20px;
    transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    cursor: pointer;
}

.feildButton button:hover {
  transform: scale(1.05);
}

/* -------------- */

.footerBlock {
  width: auto;
  max-width: none;
  margin: 0 100px;
  padding: 60px 60px 40px 60px;
  background-color: #191a23;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  color: white;
  gap: 50px;
}

.footerNav {
  justify-content: space-between;
  align-items: center;
}

.footerNav .logo img {
  filter: brightness(0) invert(1);
}

.footerNav .links ul {
  gap: 35px;
}

.footerNav .links a {
  color: white;
  font-size: 18px;
  display: inline-block;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.footerNav .links a:hover {
  transform: scale(1.05);
}

.social {
  gap: 20px;
}

.social img {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.social img:hover {
  transform: scale(1.05);
}

.footerContactus {
  justify-content: space-between;
  align-items: stretch;
}

.contact {
  gap: 15px;
}

.contactButton {
  background-color: var(--green);
  color: black;
  font-size: 18px;
  padding: 5px 12px;
  border-radius: 6px;
  width: fit-content;
}

.mail,
.phone,
.address {
  font-size: 16px;
  line-height: 24px;
  color: #dcdcdc;
}

.subscription {
  background: #292a32;
  border-radius: 14px;
  padding: 30px 40px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.emailBox input {
  width: 260px;
  height: 55px;
  border-radius: 14px;
  border: 1px solid #444;
  background-color: #191a23;
  color: white;
  padding: 0 20px;
  font-size: 16px;
}

.subButton button {
  width: 220px;
  height: 55px;
  border-radius: 14px;
  border: none;
  background-color: var(--green);
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.subButton button:hover {
  transform: scale(1.05);
}

.privacyPolicy {
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 25px;
  font-size: 14px;
}

.privacyPolicy a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .navBar, header, .logoTypes, .subHeading, .serviceBlock, .Second-subHeading, .formSection, .footerBlock {
    padding-left: 40px;
    padding-right: 40px;
  }
  .serviceBlock .cards {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-head-link {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .icon {
    align-self: flex-end;
  }
  .navBar {
    gap: 20px;
  }
  .links ul {
    gap: 20px;
  }
  .logoTypes {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  header {
    height: auto;
    padding-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .container {
    gap: 40px;
  }
  .navBar {
    padding: 0 20px;
  }
  .navBar.active {
    background-color: white;
  }
  .links {
    display: none;
  }
  .links.active {
    display: flex;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    padding: 20px 0;
    z-index: 100;
    border-bottom: 1px solid black;
    height: auto;
  }
  .links.active ul {
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  header {
    flex-direction: column;
    height: auto;
    padding: 0 20px;
    background-image: none;
    text-align: center;
  }
  .textSection {
    max-width: 100%;
    align-items: center;
  }

  

  .textSection .description {
    width: 100%;
  }
  .mobile-hero-img {
    display: block;
    width: 100%;
    height: auto;
  }
  .logoTypes {
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 0;
  }
  .subHeading {
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
  }
  .serviceBlock {
    padding: 0 20px;
  }
  .Second-subHeading {
    padding: 0 20px;
    justify-content: center;
    text-align: center;
  }
  .accordion {
    padding: 20px;
  }
  .formSection {
    margin: 0 20px;
    padding: 40px 20px;
    background-image: none;
  }
  .form {
    width: 100%;
  }
  .feilds {
    width: 100%;
  }
  .footerBlock {
    margin: 0;
    border-radius: 0;
    padding: 30px 20px;
  }
  .footerNav {
    flex-direction: column;
    gap: 30px;
  }
  .footerNav .links ul {
    flex-direction: column;
    gap: 15px;
  }
  .footerContactus {
    flex-direction: column;
    gap: 40px;
  }
  .contact {
    align-items: center;
    text-align: center;
  }
  .subscription {
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
  }
  .emailBox, .emailBox input, .subButton, .subButton button {
    width: 100%;
  }
  .privacyPolicy {
    flex-direction: column;
    gap: 15px;
  }
}